@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 2em;
    font-family: Poppins, Tahoma, Arial, sans-serif;
    /* border:1px solid red; */
}

:root {
    --dark-back:hsla(0,100%,0%,.7);
    --back:white;
    --nav-back:hsla(0,100%,0%,.7);
    --dark-nav-back:hsla(120,0%,90%,0.7);
    --button-back-hover:hsl(0,70%,40%);
    --button-back:hsl(0, 100%, 0%);
    --button-color:white;
    --button-color-hover:black;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

nav {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    padding: 0 1em;
    background-color: black;
}

nav a{
    position: relative;
    text-decoration: none;
    color:grey;
    background-color: black;
    padding: 1em;
    transition: 0.3s ease-out;
}

nav a:hover{
    color: white;
}

nav a::before{
    content:"";
    position: absolute;
    bottom:0;
    height: 3px;
    right:5%;
    width: 0;
    background-color: red/* var(--button-back-hover) */;
    transition: 0.5s ease-in-out;
}

nav a::after{
    content:"";
    position: absolute;
    top:0;
    height: 3px;
    left: 5%;
    width: 0;
    background-color: red;
    transition: 0.5s ease-in-out;
}

nav a:hover::before{
    width:90%;
}

nav a:hover::after{
    width:90%;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    max-width:10%;
    min-width:90px;
    border-radius:50%;
    border:3px solid hsl(0, 0%, 20%);
    background-color: transparent;
    z-index: 1;
}

main{
    min-height: 75vh;
}

.card-container{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    display: grid;
    margin-top: 10em;
}

.product-card{
    margin: 1.25em;
    border: 1px solid lightgrey;
    box-shadow: 5px 6px 1px 1px hsla(0,0%,80%,1);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.product-card:hover,
    .product-card:focus{
    transform: scale(1.035);
    box-shadow: 1px 2px 3px 1px hsla(0,0%,85%,1);;
}

.product-image{
    max-width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product-price{

}

.product-title{
    font-weight: bold;
}

.product-info{
    border-radius: 15px;
    background-color: hsla(0,0%,90%,1);
    color: black;
    width: 10em;
    min-height: 50%;
    padding: 1em;
    font-size: 2em;
    transform: translateX(-20%);
    }

.product-popup{
    padding: 2em;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: hsla(0,0%,0%,.5);
    color: white;
}

.product-popup .product-image{
    max-width: 40%;
    border-radius: 5px;
}

.product-description{

}

.close-popup{
    position: absolute;
    top: -2em;
    right: 0;
    width: 3.5em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: hsla(0 0% 0% / 0.9);
    color: white;
    cursor: pointer;
}

.close-popup::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 3px;
    background-color: white;
    transform: translate(0.35em, 1.6em) rotate(-45deg);
}

.close-popup::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 3px;
    background-color: white;
    transform: translate(0.35em, -1.6em) rotate(45deg);
}

footer {
    background-color: black;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    
}

footer p{
    color: grey;
    font-size: .8em;
}

