@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-family: Poppins, Tahoma, Arial, sans-serif;
}

:root {
  --hamb: black;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1em;
  background-color: black;
  z-index: 0;
}

nav a {
  position: relative;
  text-decoration: none;
  color: grey;
  background-color: black;
  padding: 1em;
  transition: 0.3s ease-out;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  right: 5%;
  width: 0;
  background-color: red;
  transition: 0.5s ease-in-out;
}

nav a::after {
  content: "";
  position: absolute;
  top: 0;
  height: 3px;
  left: 5%;
  width: 0;
  background-color: red;
  transition: 0.5s ease-in-out;
}

nav a:hover::before {
  width: 90%;
}

nav a:hover::after {
  width: 90%;
}

.cart-img {
  position: absolute;
  width: 100%;
  top: 25%;
  right: 35%;
  pointer-events: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 10%;
  min-width: 90px;
  border-radius: 50%;
  border: 3px solid hsl(0, 0%, 20%);
  background-color: transparent;
  z-index: 1;
}

.product-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 2em;
  background-color: hsla(0 0% 35% / 0.5);
  margin-top: 5em;
}

.product-nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  margin: 1em;
}

.product-nav-link:hover {
  color: black;
}

.product-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 0;
  width: 0;
  background-color: red;
  transition: 0.5s ease-in-out;
}

.product-nav-link.active {
  color: black;
}

/* .product-nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 0;
  width: 100%;
  background-color: red;
} */

.product-nav-link:hover::after {
  width: 100%;
}

.cart {
  position: absolute;
  top: 4em;
  right: 0.25vw;
  display: none;
  flex-direction: column-reverse;
  background-color: hsla(0 0% 15% / 0.85);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  z-index: 0;
  max-width: 99.55vw;
  gap: 0.5em;
}

.cart.active {
  display: flex;
}

.cart-item {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  gap: 1.5em;
  padding: 0.5em;
}

.cart-item:hover {
  background-color: hsla(0 0% 0%/0.8);
}

.product-avatar {
  border-radius: 100%;
  max-width: 65px;
  margin: 0;
}

main {
  min-height: 75vh;
}

.card-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.3fr));
  display: grid;
  margin-top: 3em;
  justify-content: center;
}

.product-card {
  margin: 1.25em;
  border: 1px solid lightgrey;
  box-shadow: 5px 6px 1px 1px hsla(0, 0%, 80%, 1);
  transition: 0.3s ease-out;
  cursor: pointer;
}

.product-card:hover,
.product-card:focus {
  transform: scale(1.035);
  box-shadow: 1px 2px 3px 1px hsla(0, 0%, 85%, 1);
}

.product-image {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.cart .product-price {
  float: right;
  margin-left: 1em;
  font-size: clamp(0.8em, -0.2em + 10vh, 1em);
}

.product-title {
  margin-right: auto;
  font-weight: bold;
  font-size: clamp(0.8em, -0.2em + 10vh, 1.1em);
  width: 100%;
}

.product-info {
  position: relative;
  border-radius: 15px;
  background-color: hsla(0, 0%, 90%, 1);
  color: black;
  width: max-content;
  padding: 1em;
  transform: translateX(-20%);
  border: 1px solid black;
}

.product-popup {
  padding: 2em 1em;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  gap: 2em;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
}

.product-popup .product-image {
  max-height: 90%;
  border-radius: 5px;
}

.add-btn {
  float: right;
  margin: 1em;
  padding: 0.3em 0.9em;
  background-color: hsla(120 70% 50% / 1);
  border-radius: 30px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  text-align: center;
  width: max-content;
}

.add-btn:hover {
  background-color: hsla(120 95% 50% / 1);
}

.total {
  padding: 0 1em;
  margin: 0 2em 0.5em 2em;
  font-size: 1.3rem;
  border: 2px solid white;
  background-color: hsla(0 0% 0% / 0.7);
}

.total-price {
  font-size: 1.4rem;
  font-weight: bold;
}

.remove-icon {
  height: 28px;
  aspect-ratio: 1/1;
  vertical-align: middle;
  border-radius: 100%;
  padding: 0.2em;
  cursor: pointer;
}

.remove-icon:hover {
  background-color: hsla(0 0% 100% / 0.75);
}

.close-popup {
  position: absolute;
  top: -3em;
  right: -1.75em;
  width: 3.5em;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid grey;
  background-color: hsla(0 0% 0% / 0.9);
  color: white;
  cursor: pointer;
}

.close-popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 3px;
  background-color: white;
  transform: translate(0.35em, 1.6em) rotate(-45deg);
}

.close-popup::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 3px;
  background-color: white;
  transform: translate(0.35em, -1.6em) rotate(45deg);
}

footer {
  background-color: black;
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}

footer p {
  color: grey;
  font-size: 0.8em;
}

@media (orientation: portrait) {
  .cart-img {
    top: -20%;
  }

  .logo {
    display: none;
  }

  .product-popup {
    flex-flow: column nowrap;
    gap: 0.5em;
  }

  .product-popup .product-image {
    max-width: 100%;
    transform: translateY(1em);
  }

  .product-info {
    max-width: 90%;
    transform: unset;
  }

  .close-popup {
    transform: translateY(2em) scale(0.8);
  }

  .product-nav {
    position: relative;
    gap: 0;
    margin-top: 10vh;
  }

  header {
    display: flex;
    z-index: 3;
  }

  .shop-nav {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .menu-btn {
    position: fixed;
    cursor: pointer;
    border: none;
    background: transparent;
    top: 30px;
    right: 30px;
    z-index: 10000;
    width: 2em;
    height: 2em;
  }

  .hamb {
    position: relative;
    background-color: var(--hamb);
    height: 0.25em;
    width: 2em;
    z-index: 2000;
  }

  .hamb::before {
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    background-color: var(--hamb);
    height: 0.25em;
    width: 2em;
  }

  .hamb::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    background-color: var(--hamb);
    height: 0.25em;
    width: 2em;
  }
}
